<!DOCTYPE html>
<html>
  <head>
    <title>Table Test</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <script type="text/javascript" src="node_modules/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="tableapp.js"></script>
  </head>
  <body>
    <div class="container-fluid" ng-app="tableapp">
      <div ng-controller="requestController as $ctrl">

        <div class="alert alert-warning" ng-show="!$ctrl.haveRequests()">
          <p class="text-center">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            No requests found.
          </p>
        </div>
        
        <div ng-show="$ctrl.haveRequests()">
          
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-class="{ 'btn-primary': $ctrl.statusFilter['All'] }" ng-click="$ctrl.toggleStatusFilter('All')">All</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-primary': $ctrl.statusFilter['completed'] }" ng-click="$ctrl.toggleStatusFilter('completed')">Completed</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-primary': $ctrl.statusFilter['inprogress'] }" ng-click="$ctrl.toggleStatusFilter('inprogress')">In Progress</button>
            <button type="button" class="btn btn-default" ng-class="{ 'btn-primary': $ctrl.statusFilter['failed'] }" ng-click="$ctrl.toggleStatusFilter('failed')">Failed</button>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Request ID</th>
                <th>Submission Date</th>
                <th>Status</th>
                <th>End Date</th>
                <th>Size</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody ng-repeat="request in $ctrl.requests | filter:$ctrl.filterByStatus | orderBy:'-submissionDate' as filteredRequests">
              <tr ng-class="{ success: request.status === 'completed', info: request.progress !== undefined, danger: request.status === 'failed' }">
                <td style="font-family: monospace">{{request.requestId}}</td>
                <td>{{request.submissionDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{request.status}}</td>
                <td>{{request.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="font-family: monospace">{{request.results.urlResult.contentLength}}</td>
                <td><a href="{{request.results.urlResult.location}}" target="_blank" class="btn-sm btn-success" role="button" ng-show="request.status === 'completed'"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> download</a></td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning" ng-show="filteredRequests.length === 0">
            <p class="text-center">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              No requests matching filter.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </body>
</html>